.course-menu {
    margin-top: 0px;
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-bottom: 50px;
}

.right-content ul li i {
    color: #02b3e4;
    margin-right: 10px;
}

.description p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    line-height: 27px;
    font-weight: 400;
    font-size: 18px;
}

.right-content {
    border: 1px solid #000;
    height: 100%;
}

.col-md-5 {
    margin-top: 78px;
}

.right-content ul li {
    margin-left: 20px;
    list-style: none;
    line-height: 63px;
    border-bottom: 1px solid #eee;
    color: #fff;
    font-size: 20px;
}

.right-content ul li span {
    margin-left: 30px;
}

.top-content .btn {
    background: transparent;
    margin-top: 20px;
    padding: 0;
}

.title {
    margin-top: 20px;
    padding: 0 30px 50px;
    text-align: center;
}

.title h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #fff;
}

.title ul:not(.tagcloud) li {
    display: inline-block;
    list-style: none;
    margin-right: 40px;
}

ul.tagcloud li a {
    display: inline-block;
    color: #545454;
    padding: 5px 28px;
    background: #ddd;
    border-radius: 30px;
    margin: 0 10px 15px 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}